language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - 'DB=sqlite DEPS=""'
  - 'DB=mysql DEPS=""'
  - 'DB=pgsql DEPS=""'
  - 'DB=sqlite DEPS="--prefer-lowest"'
  - 'DB=mysql DEPS="--prefer-lowest"'
  - 'DB=pgsql DEPS="--prefer-lowest"'

before_install:
  - 'composer selfupdate --no-interaction'

install:
  - 'composer install -n $DEPS'
  
before_script:
  - 'if [[ "$DB" == "sqlite" ]]; then export DB_DSN="sqlite::memory:"; fi'
  - 'if [[ "$DB" == "mysql" ]]; then export DB_DSN="mysql:host=localhost;dbname=test"; export DB_USERNAME=root; mysql -e "CREATE DATABASE test;" -uroot; fi'
  - 'if [[ "$DB" == "pgsql" ]]; then export DB_DSN="pgsql:host=localhost;dbname=test"; export DB_USERNAME=postgres; psql -c "CREATE DATABASE test WITH ENCODING = ''UTF8'';" -U postgres; fi'

script:
  - './vendor/bin/phpunit -c "./test/phpunit.xml"'

notifications:
  email: false

matrix:
  allow_failures:
    - php: 7.0
    - php: hhvm
  exclude:
    - php: hhvm
      env: 'DB=pgsql DEPS=""'
    - php: hhvm
      env: 'DB=pgsql DEPS="--prefer-lowest"'
  